<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.c0764112_f2019_mad3125_midterm">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="c0764112_f2019_mad3125_midterm"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".DisplayDataActivity"
            android:label="TAX DETAILS"
            android:parentActivityName=".MainActivity"></activity>
        <activity android:name=".MainActivity"
            android:label="PERSONAL DETAILS">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>